{% load static %}
<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}تیتر{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'registeration/index.css' %}">
{#    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@v[X.Y.Z]/dist/font-face.css" rel="stylesheet" type="text/css" />#}
</head>
<body>
    {% include "index/messages.html" %}
    <div class="card container shadow margin-center" style="width: 28rem;">
        <div class="card-body">
            <h5 class="card-title h3-font mt-4 mb-4 bg-secondary rounded p-3 text-white">آگهی نت</h5>
            {% block content %}{% endblock %}
                <a href="{% url "index" %}" class="ml-0 mr-auto">برگشت به سایت</a>
        </div>
    </div>

</body>
</html>